/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.wrapper {
  display: flex;
  background-color: #f0f0f0;
}

.sidebar {
  width: 30%;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-right: 1px solid rgba(128, 128, 128, 0.36);
}

.btn {
  padding: 1em 0.65em;

  cursor: pointer;
  border-radius: 0.6em;
  outline: none;
  border: none;
  transition: all 200ms;

  font-weight: 700;
}

.btn-node {
  background-color: rgb(63, 90, 90);
}

.btn:hover {
  transform: translateY(-0.25rem);
}

.btn-add {
  background-color: rgb(14, 223, 160);
  color: #fff;
}

.btn-cancel {
  background-color: rgb(224, 24, 24);
  color: #fff;
}

.btn-cancel:hover {
  background-color: rgb(172, 20, 20);
  box-shadow: 2px 2px 4px rgb(224, 24, 24);
}

.btn-add:hover {
  background-color: rgb(10, 112, 82);
  box-shadow: 2px 2px 4px rgb(14, 223, 160);
}

.btn-node:hover {
  background-color: rgb(70, 85, 85);

  box-shadow: 2px 2px 4px rgb(77, 127, 127);
}

.btn-node > h1 {
  color: #fff;
  font-size: 1.2rem;
}

.form-node {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-node > input {
  padding: 1rem;
  border-radius: 0.5em;
  border: none;
  outline: 1px solid rgb(77, 127, 127);
}

.form-node > input:focus {
  outline: 3px solid rgb(104, 224, 224);
}
